doctype html
html
  head
    meta charset="utf-8"

    title= current_page.data.title || "The Middleman"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"

    = stylesheet_link_tag "application"

    = javascript_include_tag "main"

  body
    = partial "includes/topline"

    .inner
      .content
        = yield

      = partial "includes/footer"

    = partial "includes/bottomline"
