.bottomline
	.inner
		a.bottomline-checkout href="" Оформить заказ
		ul.bottomline-menu
			li.bottomline-menu-compare
				a href=""
					' Сравнение
					b 0
			li.bottomline-menu-bookmarks
				a href=""
					' Закладки
					b 0
			li.bottomline-menu-basket
				a href=""
					' Корзина
					b 0 | 0.00 Руб

		a.bottomline-upbutton.js-upbutton Наверх
